#admins-buscarcontainer{
    padding: 10px;
}

.react-bs-table-sizePerPage-dropdown .dropdown-toggle{
    float: left ;
    margin-bottom: 20px;

}

.table.table-bordered{
    background-color:azure ;
}

.dropdown-menu{
    background-color: bisque;
}

.dropdown-item{
    color: black;
}

.search-Label{
    float: right;
    padding-bottom: 10px;

}

.sr-only{
    font-size: 0;
}

.conjunto{
    background-color: blue;
    position: relative;
    align-items: center;
    width: fit-content;
    left:40%;
    background-color:#12166c;
    color: white;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 5px;
    
}